.form_container{
    flex-shrink: 0;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: "Lucida Calligraphy", cursive, serif, sans-serif;
    font-style: italic;
    font-weight: bolder;
   
}
.form_container form {
    background-color: rgb(30, 4, 90);
    width: 70%;
    max-width: 500px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 37px 31px 59px -6px #26045a;
    border-radius: 18px;
}
h1{
    text-align: center;
}

.ui_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 320px;
}

.form-field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-field input {
    border: 1px solid grey;
    padding: 15px;
    border-radius: 5px;
}

.form-field input:focus {
    outline: none;
}

.form-field label {
   justify-items: center;
   font-size: 15px;
   font-weight: 600;
   margin-bottom: 4px;
}

.error_message {
    color: red;
    height: 18px;
    width: 100%;
}
/* 以下、不使用 */
/* button {
    background-color: #1b66a7;
    width: 100%;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    color:white;
    font-size: 15px;
    cursor: pointer;
}
button:hover {
    background-color: #175892;
    align-self: flex-start;
    text-align: left;
} */